<div class="centered-container">
    <div class="task-manager-container">
        <div class="sidebar has-bg-white">
            <h1 class="title has-text-primary">
                List
            </h1>
            <div class="list-menu">
                <a href="" class="list-menu-item is-active">
                    <p>Frontend</p>
                </a>
                <a href="" class="list-menu-item">
                    <p>Frontend2</p>
                </a>
                <a href="" class="list-menu-item">
                    <p>Frontend2</p>
                </a>
            </div>
            <button class="button is-primary has-text-white">+ New list</button>
        </div>
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <!-- Task elements -->
            <div class="task complete">
                <p>uiahdfuiahsdiuh</p>
            </div>
            <!-- Task elements -->
            <div class="task">
                <p>uiahdfuiahsdiuh</p>
            </div>
        </div>
    </div>
</div>